.App {
  margin: 0 auto;
  max-width: 75rem;
  padding: 1rem;
}

.to-top {
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  z-index: 999;
  transform: translateY(5rem);
  transition: all 200ms ease-in-out;

  & button {
    cursor: pointer;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 100%;
  }
}

.to-top.show {
  transform: translateY(0);
}
